<div class="header"><h1 class="slidetitle">مرور در وب</h1></div>

<div class="main">

<div class="text">

<div>
<p>
آریوس برای مرور سریع و امن در وب از مرورگر قدرتمند فایرفاکس استفاده می کند. مرورگری با
استفاده‌ی آسان که توسط بنیاد موزیلا، که به وب عشق می‌ورزد پشتیانی می‌شود. اگر هوادار فایرفاکس نیستید، می توانید از مرورگر کرومیوم که نسخه آزاد مرورگر گوگل کروم است در آریوس استفاده کنید.
</p>
</div>

<div class="featured">
<h2 class="subtitle">نرم‌افزارهای موجود</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">مرورگر وب فایرفاکس</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">کرومیوم</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
