<div class="header"><h1 class="slidetitle">آزادانه بنویسید و ارائه دهید</h1></div>

<div class="main">

<div class="text">

<div>
<p>لیبره‌آفیس یک مجموعه‌ی اداری آزاد است که با هرآنچه برای ساخت اسناد
تأثیرگذار، صفحات گسترده، و ارائه‌ها نیاز دارید بسته‌بندی شده است. لیبره‌آفیس
بیش‌ترین تلاشش را می‌کند تا با دیگر نرم‌افزارهای اداری کار کند، و برای
سازگاری گسترده از استانداردهای OpenDocument استفاده می‌کند.</p>
</div>

<div class="featured">
<h2 class="subtitle">نرم‌افزارهای موجود</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">نگارنده‌ی لیبره آفیس</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">حسابگر لیبره آفیس</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">ارائه دهنده‌ی لیبره آفیس</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
