<div class="header"><h1 class="slidetitle">Your own personal cloud</h1></div>

<div class="main">

<div class="text">

<div>
<p>An <a href="https://one.ubuntu.com/services/">Ubuntu One Free</a> account gives you 5GB of cloud storage, so you can store and sync your files and photos across devices and access them wherever you are in the world. Easily share them with friends, family and colleagues. Take a photo on your mobile phone and immediately see it on your desktop, or add <a href="https://one.ubuntu.com/services/music/">Music Streaming</a> for mobile to enjoy your music on the move.</p>
</div>

</div>

<img class="screenshot" src="screenshots/mobilise.jpeg" />

</div>
