<div class="header"><h1 class="slidetitle">Have fun with your photos</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell is a handy photo manager that is ready for your gadgets. Connect a camera or a phone to transfer your photos, then it’s easy to share them and keep them safe. AriOS also includes the award-wining XnView image organizer.</p>
</div>

<div class="featured">
<h2 class="subtitle">Included software</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell Photo Manager</p>
	</li>
</ul>
<h2 class="subtitle">Supported software</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP Image Editor</p>
	</li>
	
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpeg" />

</div>
