<div class="header"><h1 class="slidetitle">Stay connected</h1></div>

<div class="main">

<div class="text">

<div>
 <p>AriOS comes with Choqok, a beatiful microblogging client that supports Twitter and Status.net</p>
</div>

<div class="featured">
<h2 class="subtitle">Supported services</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpeg" />

</div>
