<div class="header"><h1 class="slidetitle">Find even more software</h1></div>

<div class="main">

<div class="text">

<div>
<p>AriOS comes with a lot of applications covering your basic needs. You can install more apps easily using the Ubuntu Software Center.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpeg" />

</div>
