<div class="header"><h1 class="slidetitle">Any questions?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Check out <a href="http://askubuntu.com/">Ask Ubuntu</a>, the best place to get an answer about Ubuntu and AriOS. With most questions already answered, and thousands of people ready to help, you’ll be sorted in no time at all. You can also get support at <a href="http://www.arioslinux.org">AriOS website</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Let’s talk Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">I'm installing #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
