<div class="header"><h1 class="slidetitle">به آریوس ۴ خوش آمدید</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>آریوس سیستم عاملی است بر پایه اوبونتو گنو/لینوکس که برای کاربران 
فارسی زبان بهینه شده است. محیطی جذاب، پشتیبانی کامل از زبان پارسی
با پشتوانه ای از مخازن غنی نرم افزاری اوبونتو گنو/لینوکس.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
